.contact-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    margin-top: 50px; 
}
  

.contact-header {
    color: #f76d64;
    font-size: 10rem;
    margin-top: -90px;
    margin-bottom: 30px;
}

a {
    margin: 10px;
    color: #f76d64; 
    text-decoration: none;
}
 
.email {
    color: #f76d64; 
    text-decoration: none;
}
  
.email:hover {
    text-decoration: underline; 
}
  
.flamingo-img {
    width: 600px; 
    height: auto;
    margin-top: 50px; 
    opacity: 50%;
}
  