/* Navbar.css */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures it's above other content */
    background-color: #000000; /* Lighter Lavender */
    padding: 25px 0;
    text-align:end; /* Centralizar os itens */
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centralizar os itens */
  }
  
  .navbar-item {
    margin: 0 10px; /* Reduzir o espaçamento horizontal entre os itens */
    position: relative;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #f76d64; /* Lighter Purple */
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar-item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #ff7b3e; /* Lighter Purple */
    transition: width 0.3s ease;
  }
  
  .navbar-item:hover::after {
    width: 100%;
  }
  
  .navbar-item:hover .navbar-link {
    color: #ff7b3e; /* Lighter purple on hover */
  }
  
